@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap");
/* animation on the appearance of the menu  */
@-webkit-keyframes progressive {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes progressive {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes btn-active {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
}

@keyframes btn-active {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
}

/* loading spinner anim */
@-webkit-keyframes anim-loader {
  0% {
    -webkit-transform: translateY(-1000%);
            transform: translateY(-1000%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes anim-loader {
  0% {
    -webkit-transform: translateY(-1000%);
            transform: translateY(-1000%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes anim-loader-duration-after {
  99% {
    opacity: 0.9;
    height: 100%;
    width: 100%;
  }
  100% {
    opacity: 0;
    height: 0%;
    width: 0%;
  }
}

@keyframes anim-loader-duration-after {
  99% {
    opacity: 0.9;
    height: 100%;
    width: 100%;
  }
  100% {
    opacity: 0;
    height: 0%;
    width: 0%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 6px #87878773;
          box-shadow: 0 0 6px #87878773;
  width: 100%;
  position: relative;
}

.logo {
  text-align: center;
  width: 100%;
}

.logo-header {
  width: 25%;
  padding: 20px;
  min-width: 220px;
}

/* arrow back to home */
.btn-return {
  position: absolute;
  padding: 10px 20px;
  font-size: 23px;
}

.btn-return:hover {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: 400ms;
  transition: 400ms;
  color: #9356DC;
}

/* footer */
.ohmyfood-footer {
  background-color: rgba(0, 0, 0, 0.827);
}

.ohmyfood-footer_tittle {
  color: white;
}

.ohmyfood-footer_tittle h2 {
  font-size: 20px;
  padding: 10px 30px;
  font-family: "Shrikhand";
  font-weight: 500;
}

.ohmyfood-footer_list {
  color: white;
}

.ohmyfood-footer_list a {
  text-decoration: none;
  color: white;
}

.ohmyfood-footer_list ul {
  padding-left: 30px;
}

.ohmyfood-footer_list li {
  margin-bottom: 10px;
}

.ohmyfood-footer_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ohmyfood-footer_element p {
  margin: 0;
}

.footer-icon {
  padding: 0 10px 0 0;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 5px;
}

.footer-page {
  position: relative;
  bottom: 40px;
}

@media screen and (min-width: 768px) {
  .ohmyfood-footer_tittle {
    text-align: center;
  }
  .ohmyfood-footer_list ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .ohmyfood-footer_list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 20px;
  }
}

/* animation liens  */
a:hover {
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

/* animated heart likes */
.heart-icon:active .fa-regular {
  color: transparent;
}

.heart-icon:active .fa-solid {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 400ms;
  transition: 400ms;
}

/* animation  menu */
.tittle-bloc:hover {
  width: 100%;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.meal:hover .icon-validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99E2D0;
  width: 22%;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.meal:hover .meal-choice {
  border-radius: 20px 0px 0 20px;
  width: 78%;
}

.meal:hover i {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* animation steps  */
.steps-choice:hover {
  background: #0f04e01a;
}

.steps-choice:hover i {
  color: #9356DC;
}

/* animation button  */
.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
  -webkit-box-shadow: 0px 0px 8px 4px #9356DC;
          box-shadow: 0px 0px 8px 4px #9356DC;
}

@media screen and (min-width: 768px) {
  .heart-icon:hover {
    -webkit-animation: btn-active 1s;
            animation: btn-active 1s;
  }
  .heart-icon:hover .fa-regular {
    color: transparent;
  }
  .heart-icon:hover .fa-solid {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* menus page*/
.image-menu {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  position: relative;
  bottom: 40px;
  border-radius: 30px 30px 0 0;
}

.main-menu_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu_name h1 {
  margin-right: 50px;
  font-family: "Shrikhand";
  font-weight: 500;
}

.main-menu_meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.main-menu .heart-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 150%;
}

.main-menu .heart-icon .fa-solid {
  position: absolute;
  color: transparent;
}

.tittle-bloc {
  border-bottom: 3.5px solid #99E2D0;
  width: 40px;
  -webkit-animation: progressive  0.5s;
          animation: progressive  0.5s;
}

.bloc-menu {
  width: 94%;
  height: 400px;
}

.bloc-menu h3 {
  font-weight: 200;
  margin: 10px 0;
  cursor: pointer;
}

#meal-one_four {
  height: 500px;
}

#meal-one_four .meal {
  height: 88px;
}

.meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 6px #87878773;
          box-shadow: 0 0 6px #87878773;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
  margin: 20px 0;
  height: 22%;
  border-radius: 20px;
  /* animation sur l'apparition progressive du menu  */
}

.meal-one {
  -webkit-animation: progressive  1.3s;
          animation: progressive  1.3s;
}

.meal-two {
  -webkit-animation: progressive  1.9s;
          animation: progressive  1.9s;
}

.meal-three {
  -webkit-animation: progressive  2.5s;
          animation: progressive  2.5s;
}

.meal-choice {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.meal-choice h4 {
  font-size: 19px;
  padding-left: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}

.meal-choice_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.meal-choice_left .info-dishe {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 20px;
}

.meal-choice_left .price {
  padding-right: 20px;
}

.icon-validation {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 20px 20px 0;
  height: 100%;
  width: 0%;
  background-color: transparent;
}

.icon-validation i {
  color: white;
  font-size: 26px;
}

.btn {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 15px 25px;
  font-size: 17px;
  font-weight: 400;
  -webkit-box-shadow: 0px 0px 13px 1px #FF79DA;
          box-shadow: 0px 0px 13px 1px #FF79DA;
  margin: 40px 0;
}

.btn-order {
  margin: 30px auto;
}

@media screen and (min-width: 768px) {
  .main-menu_meal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-menu_meal .bloc-menu {
    width: 30%;
  }
  #meal-one_four {
    height: 400px;
  }
}

/* loading spinner */
.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  z-index: 1;
  -webkit-animation: anim-loader-duration-after 4s forwards;
          animation: anim-loader-duration-after 4s forwards;
}

.loading-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-image-slice: 1;
  height: 80px;
  width: 200px;
  opacity: 0.7;
}

.loading-spinner-bloc {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.loading-text span {
  font-family: "Shrikhand";
  font-weight: 500;
}

.spinner-one {
  background-color: #FF79DA;
  -webkit-animation: anim-loader 900ms;
          animation: anim-loader 900ms;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  margin: 10px;
}

.spinner-two {
  background-color: #99E2D0;
  -webkit-animation: anim-loader 900ms;
          animation: anim-loader 900ms;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  margin: 10px;
}

.spinner-three {
  background-color: #9356DC;
  -webkit-animation: anim-loader 900ms;
          animation: anim-loader 900ms;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  margin: 10px;
}

.loading-text {
  font-size: 26px;
  font-weight: 700;
}

.loading-text-one {
  color: #FF79DA;
}

.loading-text-two {
  color: #99E2D0;
}

.loading-text-three {
  color: #9356DC;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto,sans-serif;
}

body {
  margin: 0;
  height: 1px;
  min-width: 300px;
}

a {
  text-decoration: none;
  color: black;
}

p, h3 {
  margin: 0;
}

h1 {
  font-size: 30px;
}

/* margin of the titles inside the cards  */
h4 {
  margin: 0 0 7px 0;
}

/* restaurant research and exploration section - home page*/
.research-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  border: #f6f6f6 solid 2px;
  /*  form-research  */
  /* button explore */
}

.research-restaurants form {
  width: 100%;
}

.research-restaurants_district {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eeeeee;
}

.research-restaurants_district .icon-maps {
  padding: 20px;
  color: black;
}

.research-restaurants_district .form input {
  border: #eeeeee;
  background-color: #eeeeee;
  font-size: 110%;
}

.research-restaurants #city::-webkit-input-placeholder {
  color: black;
}

.research-restaurants #city:-ms-input-placeholder {
  color: black;
}

.research-restaurants #city::-ms-input-placeholder {
  color: black;
}

.research-restaurants #city::placeholder {
  color: black;
}

.research-restaurants_tittle {
  text-align: center;
  width: 80%;
}

.research-restaurants_tittle h1, .research-restaurants_tittle p {
  padding-bottom: 20px;
}

.research-restaurants_btn {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 15px 25px;
  font-size: 17px;
  font-weight: 400;
  -webkit-box-shadow: 0px 0px 13px 1px #FF79DA;
          box-shadow: 0px 0px 13px 1px #FF79DA;
  margin: 40px 0;
  margin-bottom: 60px;
}

/* operation steps */
.steps h1 {
  margin: 50px 20px;
}

.steps-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.steps-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  text-decoration: none;
  -webkit-box-shadow: 0 0 6px #87878773;
          box-shadow: 0 0 6px #87878773;
  margin: 10px 20px;
  width: 100%;
}

.steps-choice_number p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  right: 15px;
  color: white;
  height: 30px;
  width: 30px;
  background-color: #9356DC;
  border-radius: 30px;
}

.steps-choice i {
  color: gray;
  padding-right: 20px;
  font-size: 130%;
}

.steps-choice h2 {
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 18px 10px 0;
}

/* different restaurants */
.restaurants {
  background-color: #f6f6f6;
}

.restaurants h2 {
  font-size: 30px;
  padding: 40px 0 0 20px;
}

.restaurants-different {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants-choice {
  width: 90%;
  height: 260px;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0 0 16px #777777;
          box-shadow: 0 0 16px #777777;
  min-width: 235px;
  position: relative;
  margin: 15px 0;
}

.restaurants-choice img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 12rem;
}

.restaurants-choice_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants-choice_info h4, .restaurants-choice_info p {
  margin: 0;
  padding: 3px 10px 3px 20px;
}

.restaurants-choice_info .heart-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.restaurants-choice_info .heart-icon .fa-solid {
  position: absolute;
  color: transparent;
}

.restaurants-choice_info .fa-heart {
  padding: 20px;
  font-size: 150%;
}

/* mention new restaurant */
.new {
  top: 10px;
  position: absolute;
  right: 10px;
  width: 80px;
  padding: 6px;
  color: #065d4789;
  background: #99E2D0;
  border-radius: 3px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .steps h1 {
    text-align: center;
  }
  .steps-three {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90%;
  }
  .steps-choice {
    min-width: 28%;
  }
}

@media screen and (min-width: 1024px) {
  .steps-three {
    width: 100%;
  }
  .steps-choice {
    max-width: 29%;
  }
  .steps-choice h2 {
    padding: 10px 12px;
  }
  .restaurants h2 {
    text-align: center;
    padding-left: 0;
  }
  .restaurants-different {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restaurants-choice {
    width: 22%;
  }
}
/*# sourceMappingURL=style.css.map */