@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap");
@import "./sass/utils/utils";
@import "./sass/layouts/header";
@import "./sass/layouts/footer";
@import "./sass/animation/animation";
@import "./sass/menupage/menupage";

*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    height: 1px;
    min-width: 300px;

   
}

a{
    text-decoration: none;
    color: black;
}

p, h3{
    margin: 0;
}

h1{


    font-size: 30px;

}
h4{
    margin: 0 0 7px 0;
}

/* restaurant research and exploration section - home page*/

.research-restaurants{
    @include flexbox-centre-column;
    background-color: $color-gray;
    border: $color-gray solid 2px;

    
    /*  form-research  */
    form{
        width: 100%;
    

    }
    
    &_district{
        @include flexbox-centre;
        width: 100%;
        justify-content: center;
        background-color: darken($color: $color-gray, $amount: 3%);
        
        .icon-maps{
            padding: 20px;
            color: black;
     
        }

        .form{
           input{
               border:darken($color: $color-gray, $amount: 3%);
               background-color: darken($color: $color-gray, $amount: 3%);    
                font-size: 110%;
            }
        }       
    }
    #city::placeholder{
        color: black;
    }

    &_tittle{
        text-align: center;
        width: 80%;
        h1, p{
            padding-bottom: 20px;
        }
    }

    /* button explore */

    &_btn{
        @include btn;
        margin-bottom: 60px;
    }
}


/* operation steps */



.steps{
    h1{
        text-align: center;
 
    }
   
    &-three{
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }
    
    &-choice{
      @include flexbox-centre;
      @include choice-background;
      @include shadow-element;
     
      
       &_number {
           
           p{
            @include flexbox-centre;
            justify-content: center;
            position: relative;
            right: 15px;
            color: white;
            height: 30px;
            width: 30px;
            background-color: $color-primary;
            border-radius: 30px;
           }  
       }
       i{
        color: gray;    
        padding-right: 20px;
        font-size: 130%;
    }
    h2{
        color: black ;
        font-size: 18px;
        font-weight: 600;
        padding-right: 30px;
        padding: 10px;
    }
    }
}

/* different restaurants */

  
.restaurants{
    background-color: $color-gray;

    h2{
        text-align: center;
        padding: 20px 0 0;
    }

    &-different{
        @include flexbox-centre;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 100px;
    
    }

    &-choice{
       width: 22%;
       height: 260px;
       border-radius: 15px;
       background-color:white;
       box-shadow: 0 0 16px #888888;
       min-width: 235px;
       position: relative;
   
       img{
          width: 100%;
          height: 100%;
          border-radius: 15px 15px 0 0 ;
          object-fit: cover;
  
       }
       
       &_img{
        height: 12rem;

       }
       &_info{
        @include flexbox-centre;
        justify-content: space-between;
        h4, p{
            margin: 0;
            padding: 3px 10px 3px 20px;
        }
        .heart-icon{
            display: flex;
            .fa-solid{
                position: absolute;
                color: transparent;
               
            }
        }
        .fa-heart{
            padding: 20px;
            font-size: 150%;
        }      
       }
    }    
}

.new{
    top: 10px;
    position: absolute;
    right: 10px;
    width: 80px;
    padding: 6px;
    color: #11ae82;
    background: #99E2D0;
    border-radius: 3px;
    text-align: center;

}



@media screen and (max-width:992px) {

.steps-three{
    flex-direction: column;
    margin: 20px;
    
}
.steps{
    justify-content: flex-start;
    &-choice{
        margin: 20px 20px 20px 30px;
        transform: scale(1.05);
       
    }

    h1{
       text-align: inherit;
        margin-left: 30px ;
    }  
}

.restaurants{
     
        h2{
          text-align:left;
          margin: 0 0  0 10px;
        }

    &-different{
        flex-direction: column;
        
    }
    &-choice{
        width: 92%;
        margin: 20px;
    }
}
/* footer animation */
.ohmyfood-footer_tittle{
    justify-content: flex-start;

}
ul{
    flex-direction: column;
    li{
        margin: 5px 0;
    } 
  
 }
 .main-menu{
     align-items: flex-start;
     &_different{
         flex-direction: column;
         width: 100%;
     }
    
     &_name{
         padding: 20px;
         justify-content: space-between;
         width: 95%;
         
     }
 }
 .bloc-menu{
     width: 95%;
 }
    
}

/* loadingspinner */
.loading{
    height: 100%;
width: 100%;

    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:white;
    z-index: 1;
    animation: anim-loader-duration-after 4s forwards ;


    &-spinner{
        display: flex;
        align-items: center;
        justify-content: space-around;
    
        border-image-slice: 1;
        height: 80px;
        width: 200px;

        opacity: 0.7;
   

        

        &-bloc{
            border-radius: 50%;
            height: 30px;
            width: 30px;
        } 
    }

}
 .spinner-one{
    background-color: $color-secondary;
    animation: anim-loader 900ms;
    animation-delay: 0.2s;
    margin: 10px;


    
}
.spinner-two{
    background-color: $color-tertiary;
    animation: anim-loader 900ms;
    animation-delay: 1.2s;
    margin: 10px;
}
.spinner-three{
    background-color: $color-primary;
    animation: anim-loader 900ms;
    animation-delay: 2.2s  ;
    margin: 10px;


    
}


@keyframes anim-loader {

    0%{
        transform: translateY(-1000%);

    }
    100%{
        transform: translateY(0);

    }   
}




 

@keyframes anim-loader-duration-after {

 99%{
opacity: 1;
height: 100%;
width: 100%;


     
    }
    100%{
        opacity: 0;

        height: 0%;
width: 0%;


   
}   
}

 


.loading-text{

    


    font-size: 26px;
    font-weight: 700;

    &-one{
        color: $color-secondary;
        animation: anim-loader-text-after 6s;
    }
    &-two{
        color: $color-tertiary;
        animation: anim-loader-text-after 6s;
    }
  
    &-three{
        color: $color-primary;
        animation: anim-loader-text-after 6s;
    }
  
  
}
@keyframes anim-loader-text-after {

    0%{
 opacity: 0;
 
      
     }
     100%{
         opacity: 1;
  
 }   
 }




