/* menus page*/

.image-menu{
    @include img-menu-size;
 }
 
 .main-menu{
     @include flexbox-centre-column;
     background-color: $color-gray;
     @include menu-appearance;
 
     &_name{
         @include flexbox-centre;
         h1{
             margin-right: 50px;
             @include font-text-shrikhand;
             
         }
     }
     &_meal{
         @include flexbox-centre;
         justify-content: space-around;
         width: 100%;
     }
     .heart-icon{
         display: flex;
         font-size: 150%;
         .fa-solid{
             position: absolute;
             color: transparent;         
         }
     }
 }
 
 .tittle-bloc{
     border-bottom: 3.5px solid $color-tertiary;
     width: 40px;
     animation: progressive  0.5s ;
   
 }
 .bloc-menu{
 
     width: 30%;
     height: 400px;

     h3{
         font-weight: 200;
         margin: 10px 0;
         cursor: pointer;
     }
 }
 
 .meal{
     @include flexbox-centre;
     @include shadow-element;
     overflow: hidden;
     background-color: white;
     cursor: pointer;
     margin: 20px 0;
     height: 22%;
     border-radius: 20px;

    /* animation sur l'apparition progressive du menu  */

     &-one{
        animation: progressive  1.3s ;
     }
     &-two{
        animation: progressive  1.9s ;
     }
     &-three{
        animation: progressive  2.5s ;
     }
     
    &-choice{
    flex-grow: 1;
    width: 100%;

    h4{
        font-size: 19px;
        padding-left: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 80%;
        }

    &_left{
            display: flex;
            justify-content: space-between;
            .info-dishe{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding-left: 20px;
            }
            .price{
                padding-right: 20px;
            }
    }
}
 }

 .icon-validation{
     justify-content: center;
     align-items: center;
     border-radius: 0 20px 20px 0;
     height: 100%;
     width: 0%;
     background-color: transparent;
        i{
            color: white;
            font-size: 26px;
    
        }
     }
     
 .btn{
     @include btn;
 
 }
 .btn-order{
     margin: 30px auto;
 }

  /* responsive design similar tablet and mobile */

 @media screen and (max-width:992px){

    .bloc-menu{
        width: 95%;
    }

    .main-menu{

        &_name{
            padding: 20px;
            justify-content: space-between;
            width: 95%;       
        }

        &_meal{
            flex-direction: column;

        }
    }  
}



 
