/* menus page*/

.image-menu{
    @include img-menu-size;
 }
 
 .main-menu{
     @include flexbox-centre-column;
     background-color: $color-gray;
     @include menu-appearance;
 
     &_element{
       
         animation-duration: 5s;
         @include flexbox-centre;
         justify-content: space-around;
         width: 100%;
     }
     &_name{
         @include flexbox-centre;
         h1{
             margin-right: 50px;
         }
     }
     .heart-icon{
         display: flex;
         font-size: 150%;
         .fa-solid{
             position: absolute;
             color: transparent;
            
         }
     }
 
 }
 
 .tittle-bloc{
     border-bottom: 3.5px solid $color-tertiary;
     width: 15%;
 }
 .bloc-menu{
 
     width: 30%;
     height: 400px;
     h2{
         font-weight: 200;
         margin: 10px 0;
     }
     
 
 }
 
 .element{
     @include flexbox-centre;
     @include shadow-element;
     overflow: hidden;
     background-color: white;
     margin: 20px 0;
     height: 20%;
     border-radius: 20px;
 
 
 }
 .element-choice{
     flex-grow: 1;
     width: 100%;
 
 
     h3{
         padding-left: 20px;
         text-overflow: ellipsis;
         overflow: hidden;
         white-space: nowrap;
         width: 80%;
       
         }
 
     &_left{
             display: flex;
             justify-content: space-between;
             .info-dishe{
                 text-overflow: ellipsis;
                 overflow: hidden;
                 white-space: nowrap;
                 padding-left: 20px;
             }
             .price{
                 padding-right: 20px;
 
             }
 
     }
     
 
 }
 
 .icon-validation{
     justify-content: center;
     align-items: center;
     border-radius: 0 20px 20px 0;
 
     height: 100%;
     width: 0%;
     background-color: transparent;
     i{
 
         color: white;
         font-size: 26px;
  
     }
     }
     
 .btn{
     @include btn;
 
 }
 .btn-order{
     margin: 30px auto;
 }
 
