/* footer */
.ohmyfood-footer{

    background-color: rgba(0, 0, 0, 0.827);

    &_tittle{


        color: white;

        h2{
            font-size: 20px;
           padding: 10px 30px;
            @include font-text-shrikhand ;

        }
    }
}

.ohmyfood-footer_list{
    color: white;

    a{
        text-decoration: none;
        color: white;
   
    }
    ul{
        padding-left: 30px;
    }
    li{
        margin-bottom: 10px
    }
}

.ohmyfood-footer_element{
    @include flexbox-centre;

    p{
        margin: 0;
    }
 
}

.footer-icon{
    padding:  0 10px 0 0;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    
    
}

.footer-page{
    position: relative;
    bottom: 40px;
}


@media screen and (min-width:768px){
    .ohmyfood-footer_tittle{
        text-align: center;
    }
    .ohmyfood-footer_list{
        ul{
            align-items: center;
            padding: 0;

        }
       
    }

}

@media screen and (min-width:1024px){
    .ohmyfood-footer_list{
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-bottom: 20px;


        }
       
    }

    
}
