/* footer */
.ohmyfood-footer{

    background-color: black;

    &_tittle{

        display: flex;

        justify-content: center;
        padding: 10px 0 0 40px;
 

        color: white;
        h1{
            font-size: 20px;
            @include font-text;

        }
    }
}

.ohmyfood-footer_list{


    color: white;


    a{
        text-decoration: none;
        color: white;

     
        
    }
}
.ohmyfood-footer_element{
    @include flexbox-centre;

    p{
        margin: 0;
    }
 
}

.footer-icon{
    padding:  0 10px 0 0;
}

ul{
    list-style: none;
    display: flex;
   justify-content: space-around;
    padding-bottom: 5px;
    
    li{
        margin: 20px 0;
    }
}
.footer-page{
    position: relative;
    bottom: 40px;
}
.footer-page_menu{
    @include variation-bloc;
}




