header{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    @include shadow-element;
}

.logo{
    text-align: center;
    width: 100%;

    &-header{
        width: 25%;
        padding: 20px;
        min-width: 220px;
    }
}

/* arrow back to home */

.btn-return{
    position: absolute;
    padding: 10px 20px;
    font-size: 23px;

    &:hover{
        transform: translateX(-10px);
        transition: $transition;
        color: $color-primary;  
    }
}
