header{
    position: relative;
    width: 100%;
    @include shadow-element;
}

.logo{
    text-align: center;
    width: 100%;

    &-header{
        width: 25%;
        padding: 20px;
        min-width: 250px;
    }
}