
 /* animation générales  */
 a:hover{
 
    transition: $transition;
    transform: scale(1.03);

}

/* animation sur les coeur */
.heart-icon:hover{

.fa-regular{
    color: transparent;
}

.fa-solid{
   background: $mix-color;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transform: scale(1.3);
   transition: $transition;
   
}
}

/* animation sur les menu */
.tittle-bloc:hover{
    width: 100%;
    transition:$transition;
}
.meal:hover{
    
    .icon-validation {
        display: flex ;
        background-color: $color-tertiary;
        width: 22% ;
        transition: $transition;
    }

    .meal-choice{
        border-radius: 20px 0px 0 20px;
        width: 78%;

    }
    i{
        transition: all 0.8s;
         transform: rotate(360deg);
    }
    }
.steps-choice:hover{
    background: #0f04e01a;
  
    i{
        color: $color-primary;
    }

}

/* animation sur les button  */

.btn:hover{
    transform: scale(1.05);
transition: $transition;
@include btn-hover;

}
@media screen and (max-width:992px){
   .heart-icon:hover{

    .fa-regular{
        color: inherit;
    }
    
    .fa-solid{
       background: none;
     
    }
    }

    .heart-icon:active {
        animation: btn-active 2s  ;

        .fa-regular{
            color: transparent;
        }
        .fa-solid {
  
            background: $mix-color;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }
   

      
    }
    
}

@keyframes btn-active{
    
    0%{

        opacity: 0;
    }
    99%{

        opacity: 1;
    }   

}



