
 /* animation générales  */
 a:hover{
 
    transition: $transition;
    transform: scale(1.03);

}
.heart-icon:hover{
.fa-regular{
    color: transparent;
}

.fa-solid{

   background: $mix-color;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   
}
}

/* animation sur les menu */
.tittle-bloc:hover{
    width: 100%;
    transition:$transition;
}
.meal:hover{
    
    .icon-validation {
        display: flex ;
        background-color: $color-tertiary;
        width: 22% ;
        transition: $transition;
    }

    .meal-choice{
        border-radius: 20px 0px 0 20px;
        width: 78%;


    }

    i{
        transition: all 0.8s;
         transform: rotate(360deg);
    }
    }


/* animation sur les button  */

.btn:hover{
    transform: scale(1.05);
transition: $transition;

}

